*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 5% 10%;
  background-color: silver;
  font-family: sans-serif;
  font-size: 2rem;
}
ol{
  list-style-type: lower-alpha;
  /* list-style-type: none; */
  list-style-position: outside;
}
ul{
  list-style-type: upper-roman;
  list-style-position: outside;
  line-height: 1.6;
  color: #00f;
  list-style: square url("/images/channel-1.jpeg") inside;
}
ul li:nth-child(odd){
  color: red;
}
ol li::marker {
  content: '✝ ';
  font-size: 1.2em;
}